<aside class="right-panel">
    <%- include('../components/right-bg.ejs') %>
    <%- include('../components/menu-burger.ejs') %>

    <div class="right-inner-content">
        <%- include('../components/wedding-header.ejs') %>
        <%- include('../components/invitation-box.ejs') %>
        
        <div class="content-wrapper">
            <%- include('../components/opened-content.ejs') %>
            <%- include('../components/couple-info.ejs') %>
            <%- include('../components/love-story.ejs') %>
            <%- include('../components/wedding-event.ejs') %>
            <%- include('../components/wishes.ejs') %>
            <%- include('../components/dresscode.ejs') %>
            <%- include('../components/wedding-gift.ejs') %>
            <%- include('../components/gallery-background.ejs') %>
            <%- include('../components/closing.ejs') %>
        </div>

        <%- include('../components/scroll-indicator.ejs') %>
    </div>
</aside>