<aside class="right-panel">
    <%- include('../components/right-bg.ejs') %>
    <%- include('../components/menu-burger.ejs') %>

    <div class="right-inner-content">
        <%- include('../components/wedding-header.ejs') %>

        <%- include('../components/invitation-box.ejs') %>

        <%- include('../components/opened-content.ejs') %>

        <%- include('../components/scroll-indicator.ejs') %>
    </div>
</aside>